<PageTitle>Not found</PageTitle>
<div class="relative h-[calc(100dvh-20rem)] w-full justify-items-center row-start-1 grid grid-cols-subgrid lg:col-start-3">
    <div class="flex max-w-md items-center justify-center">
        <div class="flex flex-auto flex-col items-center justify-center px-4 text-center sm:flex-row">
            <h1 class="text-2xl font-extrabold tracking-tight text-greenish sm:mr-6 sm:border-r sm:border-greenish/10 sm:pr-6 sm:text-3xl">404</h1>
            <h2 class="mt-2 text-brownish sm:mt-0">This page could not be found.</h2>
        </div>
    </div>
</div>