@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="bg-icons"></div>
<div class="flex flex-col items-center justify-center px-6">
    <div class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 transform-gpu justify-center overflow-hidden blur-3xl sm:top-auto sm:right-[calc(50%-6rem)] sm:bottom-0 sm:translate-y-0 sm:transform-gpu sm:justify-end"
         aria-hidden="true">
        <div class="aspect-1108/632 w-[69.25rem] flex-none bg-linear-to-r from-[#F9E4AC] to-[#4C3A28] opacity-25"
             style="clip-path: polygon(73.6% 48.6%, 91.7% 88.5%, 100% 53.9%, 97.4% 18.1%, 92.5% 15.4%, 75.7% 36.3%, 55.3% 52.8%, 46.5% 50.9%, 45% 37.4%, 50.3% 13.1%, 21.3% 36.2%, 0.1% 0.1%, 5.4% 49.1%, 21.4% 36.4%, 58.9% 100%, 73.6% 48.6%)">
        </div>
    </div>
    <div class="flex flex-col max-w-2xl mx-auto text-center gap-y-12 z-10">
        <h1 id="logo" class="text-5xl font-bold text-greenish focus:outline-hidden">Tugbobo.com</h1>
        <div class="">
            <p id="dynamic-text" class="mt-3 text-xl">Discover the secrets within...</p>
            <div class="flex flex-col divide-greenish/50 divide-dotted divide-y-1 md:divide-y-0 md:flex-row justify-center items-center mt-6 gap-y-4 md:gap-x-4 text-greenish *:w-full *:md:w-auto *:hover:text-greenish/75 *:md:hover:underline">
                <a href="#">DM</a>
                <a href="#">SG</a>
                <a href="#">MORE...</a>
            </div>
        </div>
    </div>
    <div class="absolute right-0 hidden overflow-hidden -translate-y-1/2 top-full left-1/2 -z-10 transform-gpu blur-3xl sm:block"
         aria-hidden="true">
        <div class="aspect-1155/678 w-[52.1875rem] bg-linear-to-tr from-[#F9E4AC] to-[#4C3A28] opacity-30"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
</div>

@code {
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Pages/Home.razor.js");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}