@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="bg-icons"></div>
<div class="relative z-10 flex flex-col items-center justify-center flex-grow px-6">
    <div class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 transform-gpu justify-center overflow-hidden blur-3xl sm:top-auto sm:right-[calc(50%-6rem)] sm:bottom-0 sm:translate-y-0 sm:transform-gpu sm:justify-end"
         aria-hidden="true">
        <div class="aspect-1108/632 w-[69.25rem] flex-none bg-linear-to-r from-[#F9E4AC] to-[#4C3A28] opacity-25"
             style="clip-path: polygon(73.6% 48.6%, 91.7% 88.5%, 100% 53.9%, 97.4% 18.1%, 92.5% 15.4%, 75.7% 36.3%, 55.3% 52.8%, 46.5% 50.9%, 45% 37.4%, 50.3% 13.1%, 21.3% 36.2%, 0.1% 0.1%, 5.4% 49.1%, 21.4% 36.4%, 58.9% 100%, 73.6% 48.6%)">
        </div>
    </div>
    <div class="flex flex-col max-w-2xl mx-auto text-center gap-y-12">
        <h1 id="logo" class="text-5xl font-bold text-greenish">Tugbobo.com</h1>
        <div class="">
            <p id="dynamic-text" class="mt-3 text-xl">Discover the secrets within...</p>
            <div class="flex flex-col divide-greenish/50 divide-dotted divide-y-1 md:divide-y-0 md:flex-row justify-center items-center mt-6 gap-y-4 md:gap-x-4 text-greenish *:w-full *:md:w-auto *:hover:text-greenish/50 *:md:hover:underline">
                <a href="#">DM</a>
                <a href="#">SG</a>
                <a href="#">MORE...</a>
            </div>
        </div>
    </div>
    <div class="absolute right-0 hidden overflow-hidden -translate-y-1/2 top-full left-1/2 -z-10 transform-gpu blur-3xl sm:block"
         aria-hidden="true">
        <div class="aspect-1155/678 w-[52.1875rem] bg-linear-to-tr from-[#F9E4AC] to-[#4C3A28] opacity-30"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
</div>

<!-- Sticky Footer -->
<footer class="mt-auto">
    <div class="px-6 py-12 mx-auto mt-32 border-t border-gray-900/10 max-w-7xl md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center gap-x-6 md:order-2">
            <a href="#" class="text-greenish hover:text-gray-800">
                <span class="sr-only">Facebook</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                          clip-rule="evenodd" />
                </svg>
            </a>
            <a href="#" class="text-greenish hover:text-gray-800">
                <span class="sr-only">Instagram</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                          clip-rule="evenodd" />
                </svg>
            </a>
            <a href="#" class="text-greenish hover:text-gray-800">
                <span class="sr-only">X</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z" />
                </svg>
            </a>
            <a href="#" class="text-greenish hover:text-gray-800">
                <span class="sr-only">GitHub</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                          clip-rule="evenodd" />
                </svg>
            </a>
            <a href="#" class="text-greenish hover:text-gray-800">
                <span class="sr-only">YouTube</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
                          clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <p class="mt-8 text-center text-gray-600 text-sm/6 md:order-1 md:mt-0">
            &copy; @(DateTime.UtcNow.Year) <a class="text-greenish hover:underline" href="/">Tugbobo.com</a> All rights reserved.
        </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol viewBox="0 0 107.257744 43.895954" id="iconAsset1">
            <g id="c1">
                <path d="m.34,4.41c3.12,5.29,6.25,10.58,9.37,15.87l1.36,2.31c.85,1.44,2.72.83,3.44-.3,3.13-4.91,6.26-9.83,9.39-14.74l1.35-2.11c.58-.91-.06-2.24-.95-2.66-1.08-.51-2.08.04-2.66.95-3.13,4.91-6.26,9.83-9.39,14.74l-1.35,2.11,3.44-.3c-3.12-5.29-6.25-10.58-9.37-15.87l-1.36-2.31c-.55-.93-1.96-1.06-2.79-.48C-.12,2.29-.21,3.47.34,4.41H.34Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m10.71,2.11v40.03c0,2.57,3.98,2.21,3.98-.35V1.76c0-2.57-3.98-2.21-3.98.35h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m53.92,39.49c-3.12-5.29-6.25-10.58-9.37-15.87l-1.36-2.31c-.85-1.44-2.72-.83-3.44.3-3.13,4.91-6.26,9.83-9.39,14.74l-1.35,2.11c-.58.91.06,2.24.95,2.66,1.08.51,2.08-.04,2.66-.95,3.13-4.91,6.26-9.83,9.39-14.74l1.35-2.11-3.44.3c3.12,5.29,6.25,10.58,9.37,15.87l1.36,2.31c.55.93,1.96,1.06,2.79.48.94-.67,1.03-1.86.48-2.79h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m43.55,41.79V1.76c0-2.57-3.98-2.21-3.98.35v40.03c0,2.57,3.98,2.21,3.98-.35h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m53.35,4.41c3.12,5.29,6.25,10.58,9.37,15.87l1.36,2.31c.85,1.44,2.72.83,3.44-.3,3.13-4.91,6.26-9.83,9.39-14.74l1.35-2.11c.58-.91-.06-2.24-.95-2.66-1.08-.51-2.08.04-2.66.95-3.13,4.91-6.26,9.83-9.39,14.74l-1.35,2.11,3.44-.3c-3.12-5.29-6.25-10.58-9.37-15.87l-1.36-2.31c-.55-.93-1.96-1.06-2.79-.48-.94.67-1.03,1.86-.48,2.79h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m63.72,2.11v40.03c0,2.57,3.98,2.21,3.98-.35V1.76c0-2.57-3.98-2.21-3.98.35h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m106.92,39.49c-3.12-5.29-6.25-10.58-9.37-15.87l-1.36-2.31c-.85-1.44-2.72-.83-3.44.3-3.13,4.91-6.26,9.83-9.39,14.74l-1.35,2.11c-.58.91.06,2.24.95,2.66,1.08.51,2.08-.04,2.66-.95,3.13-4.91,6.26-9.83,9.39-14.74l1.35-2.11-3.44.3c3.12,5.29,6.25,10.58,9.37,15.87l1.36,2.31c.55.93,1.96,1.06,2.79.48.94-.67,1.03-1.86.48-2.79h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m96.55,41.79V1.76c0-2.57-3.98-2.21-3.98.35v40.03c0,2.57,3.98,2.21,3.98-.35h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 98.182274 47.24994" id="iconAsset2">
            <g id="c2">
                <path d="m3.86,28.05c2.5-6.19,5.74-12.07,9.62-17.49.14-.2.33-.42.57-.41.23,0,.39.21.53.39,3.42,4.71,6.09,9.96,7.89,15.49.18.56.35,1.19.07,1.7-.26.48-.83.7-1.36.82-1.09.25-2.21.25-3.33.25-4.13,0-8.27,0-12.4,0-.4,0-.82,0-1.17-.21-.34-.2-.56-.68-.35-1.02"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m27.73,28.05c2.5-6.19,5.74-12.07,9.62-17.49.14-.2.33-.42.57-.41.23,0,.39.21.53.39,3.42,4.71,6.09,9.96,7.89,15.49.18.56.35,1.19.07,1.7-.26.48-.83.7-1.36.82-1.09.25-2.21.25-3.33.25-4.13,0-8.27,0-12.4,0-.4,0-.82,0-1.17-.21-.34-.2-.56-.68-.35-1.02"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m51.61,28.05c2.5-6.19,5.74-12.07,9.62-17.49.14-.2.33-.42.57-.41.23,0,.39.21.53.39,3.42,4.71,6.09,9.96,7.89,15.49.18.56.35,1.19.07,1.7-.26.48-.83.7-1.36.82-1.09.25-2.21.25-3.33.25h-12.4c-.4,0-.82-.01-1.17-.22-.34-.2-.56-.68-.35-1.02"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m75.49,28.05c2.5-6.19,5.74-12.07,9.62-17.49.14-.2.33-.42.57-.41.23,0,.39.21.53.39,3.42,4.71,6.09,9.96,7.89,15.49.18.56.35,1.19.07,1.7-.26.48-.83.7-1.36.82-1.09.25-2.21.25-3.33.25h-12.4c-.4,0-.82-.01-1.17-.22-.34-.2-.56-.68-.35-1.02"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m1.58,3.03h91.4c1.22,0,2.49.09,3.71,0,.06,0,.11,0,.17,0,1.93,0,1.66-2.99-.26-2.99H5.2C3.97.04,2.71-.05,1.49.04c-.06,0-.11,0-.17,0C-.61.04-.34,3.03,1.58,3.03h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m1.58,38.91h91.4c1.22,0,2.49.09,3.71,0,.06,0,.11,0,.17,0,1.93,0,1.66-2.99-.26-2.99H5.2c-1.22,0-2.49-.09-3.71,0-.06,0-.11,0-.17,0-1.93,0-1.66,2.99.26,2.99h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m1.58,47.21h91.4c1.22,0,2.49.09,3.71,0,.06,0,.11,0,.17,0,1.93,0,1.66-2.99-.26-2.99H5.2c-1.22,0-2.49-.09-3.71,0-.06,0-.11,0-.17,0-1.93,0-1.66,2.99.26,2.99h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 109.46392 46.140556" id="iconAsset3">
            <g id="c3">
                <path d="m95.65,9.83c-4.67-.21-9.34-.27-14.01-.17.34,1.05,1.22,1.81,1.96,2.63,2.17,2.41,3.31,5.61,5.54,7.96,1.85-3.46,3.85-6.83,6.01-10.11l.51-.31Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m61.75,9.83c-4.67-.21-9.34-.27-14.01-.17.34,1.05,1.22,1.81,1.95,2.63,2.17,2.41,3.31,5.61,5.54,7.96,1.85-3.46,3.85-6.83,6.01-10.11l.51-.31Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m27.86,9.83c-4.67-.21-9.34-.27-14.01-.17.34,1.05,1.22,1.81,1.96,2.63,2.17,2.41,3.31,5.61,5.54,7.96,1.85-3.46,3.85-6.83,6.01-10.11l.51-.31Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m29.88,37.32c4.67.21,9.34.27,14.01.17-.34-1.05-1.22-1.81-1.96-2.63-2.17-2.41-3.31-5.61-5.54-7.96-1.85,3.46-3.85,6.83-6.01,10.11l-.51.31Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m69.82,37.32c4.67.21,9.34.27,14.01.17-.34-1.05-1.22-1.81-1.96-2.63-2.17-2.41-3.31-5.61-5.54-7.96-1.85,3.46-3.85,6.83-6.01,10.11l-.51.31Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m2.23,9.23c.14.27.29.54.43.81.42.79.88,1.77,1.14,2.24,1.07,1.91,2.36,3.73,3.52,5.58,2.63,4.2,5.32,8.36,7.99,12.53.58.9,1.15,1.82,1.75,2.71,1.02,1.52,3.04,1.26,4.16.11,5.58-5.71,11.16-11.41,16.67-17.19.77-.8,1.53-1.62,2.3-2.41l-4.11-.16c5.19,6.09,10.39,12.18,15.58,18.26.74.87,1.49,1.74,2.23,2.61,1.18,1.38,2.88,1.38,4.15.12,5.91-5.83,11.81-11.67,17.72-17.5.85-.84,1.71-1.68,2.56-2.53l-4.19-.08c4.11,5.57,8.22,11.14,12.31,16.73.58.79,1.16,1.59,1.75,2.38.98,1.33,3.31,1.43,4.27,0,4.23-6.38,8.48-12.76,12.65-19.18.59-.91,1.19-1.83,1.78-2.74,1.92-2.93-2.47-6.19-4.41-3.24-4.18,6.38-8.36,12.75-12.52,19.14-.59.91-1.19,1.83-1.78,2.74h4.27c-4.12-5.54-8.22-11.08-12.32-16.61-.58-.79-1.17-1.57-1.75-2.36-1.11-1.5-3-1.26-4.19-.08-5.89,5.83-11.77,11.66-17.66,17.49-.85.84-1.7,1.68-2.55,2.53l4.15.12c-5.2-6.07-10.39-12.14-15.59-18.2-.74-.87-1.49-1.74-2.23-2.6-1.14-1.33-2.87-1.45-4.11-.16-5.57,5.75-11.19,11.44-16.74,17.2-.78.81-1.55,1.61-2.33,2.42l4.16.11c-1.68-2.47-3.47-4.87-5.22-7.3-2.99-4.17-5.86-8.47-9.03-12.52-.69-.88-1.48-1.7-2.21-2.56-1.09-1.29-3.47-.02-2.62,1.6h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m2.11,4.02h101.29c1.36,0,2.75.09,4.11,0,.06,0,.12,0,.19,0,2.57,0,2.21-3.98-.35-3.98H6.05C4.69.04,3.3-.05,1.95.04c-.06,0-.12,0-.19,0C-.81.04-.45,4.02,2.11,4.02h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m2.11,46.1h10.54c8.39,0,16.78,0,25.17,0h65.58c1.36,0,2.75.09,4.11,0,.06,0,.12,0,.19,0,2.57,0,2.21-3.98-.35-3.98H6.05c-1.36,0-2.75-.09-4.11,0-.06,0-.12,0-.19,0-2.57,0-2.21,3.98.35,3.98h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 93.1355 37.09957" id="iconAsset4">
            <g id="c4">
                <path d="m2.65,16.68c3.44-4.15,6.88-8.3,10.32-12.45l1.47-1.77c1.23-1.49-1.06-3.42-2.3-1.93C8.7,4.69,5.26,8.84,1.82,12.99l-1.47,1.77c-1.23,1.49,1.06,3.42,2.3,1.93h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m18.32,16.68c3.44-4.15,6.88-8.3,10.32-12.45l1.47-1.77c1.23-1.49-1.06-3.42-2.3-1.93-3.44,4.15-6.88,8.3-10.32,12.45l-1.47,1.77c-1.23,1.49,1.06,3.42,2.3,1.93h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m33.99,16.68c3.44-4.15,6.88-8.3,10.32-12.45.49-.59.98-1.18,1.47-1.77,1.23-1.49-1.06-3.42-2.3-1.93-3.44,4.15-6.88,8.3-10.32,12.45-.49.59-.98,1.18-1.47,1.77-1.23,1.49,1.06,3.42,2.3,1.93h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m49.65,16.68c3.44-4.15,6.88-8.3,10.32-12.45l1.47-1.77c1.23-1.49-1.06-3.42-2.3-1.93-3.44,4.15-6.88,8.3-10.32,12.45l-1.47,1.77c-1.23,1.49,1.06,3.42,2.3,1.93h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m65.32,16.68c3.44-4.15,6.88-8.3,10.32-12.45l1.47-1.77c1.23-1.49-1.06-3.42-2.3-1.93-3.44,4.15-6.88,8.3-10.32,12.45l-1.47,1.77c-1.23,1.49,1.06,3.42,2.3,1.93h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m80.99,16.68c3.44-4.15,6.88-8.3,10.32-12.45.49-.59.98-1.18,1.47-1.77,1.23-1.49-1.06-3.42-2.3-1.93-3.44,4.15-6.88,8.3-10.32,12.45-.49.59-.98,1.18-1.47,1.77-1.23,1.49,1.06,3.42,2.3,1.93h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m.28,22.25c3.44,4.15,6.88,8.3,10.32,12.45l1.47,1.77c.52.62,1.39.85,2.09.36.62-.44.88-1.46.36-2.09-3.44-4.15-6.88-8.3-10.32-12.45l-1.47-1.77c-.52-.62-1.39-.85-2.09-.36-.62.44-.88,1.46-.36,2.09H.28Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m15.95,22.25c3.44,4.15,6.88,8.3,10.32,12.45l1.47,1.77c.52.62,1.39.85,2.09.36.62-.44.88-1.46.36-2.09-3.44-4.15-6.88-8.3-10.32-12.45l-1.47-1.77c-.52-.62-1.39-.85-2.09-.36-.62.44-.88,1.46-.36,2.09h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m31.61,22.25c3.44,4.15,6.88,8.3,10.32,12.45.49.59.98,1.18,1.47,1.77.52.62,1.39.85,2.09.36.62-.44.88-1.46.36-2.09-3.44-4.15-6.88-8.3-10.32-12.45-.49-.59-.98-1.18-1.47-1.77-.52-.62-1.39-.85-2.09-.36-.62.44-.88,1.46-.36,2.09h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m47.28,22.25c3.44,4.15,6.88,8.3,10.32,12.45l1.47,1.77c.52.62,1.39.85,2.09.36.62-.44.88-1.46.36-2.09-3.44-4.15-6.88-8.3-10.32-12.45l-1.47-1.77c-.52-.62-1.39-.85-2.09-.36-.62.44-.88,1.46-.36,2.09h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m62.95,22.25c3.44,4.15,6.88,8.3,10.32,12.45l1.47,1.77c.52.62,1.39.85,2.09.36.62-.44.88-1.46.36-2.09-3.44-4.15-6.88-8.3-10.32-12.45l-1.47-1.77c-.52-.62-1.39-.85-2.09-.36-.62.44-.88,1.46-.36,2.09h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m78.61,22.25c3.44,4.15,6.88,8.3,10.32,12.45.49.59.98,1.18,1.47,1.77.52.62,1.39.85,2.09.36.62-.44.88-1.46.36-2.09-3.44-4.15-6.88-8.3-10.32-12.45-.49-.59-.98-1.18-1.47-1.77-.52-.62-1.39-.85-2.09-.36-.62.44-.88,1.46-.36,2.09h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 98.84757 24.527714" id="iconAsset5">
            <g id="c5">
                <path d="m1.31,2.49c.3.78.55,1.58,1.05,2.26.41.56.84,1.11,1.27,1.66.86,1.11,1.82,2.16,2.74,3.22,1.91,2.22,3.87,4.39,5.84,6.56,2.46,2.71,4.93,5.51,7.7,7.91l.88-3.97c-.15.01-.31.01-.46.04-.3.06.63.02-.06.01-.27,0-.55,0-.82,0-1.53-.02-3.06-.03-4.59-.05-3.4-.03-6.8-.08-10.2-.05-.77,0-1.54.01-2.31.02l1.24,3.88c4.97-4.95,10.02-9.83,15-14.78,1.68-1.68,3.41-3.33,5.02-5.09,1.45-1.59.5-4.12-1.82-3.85-.41.05-.82.06-1.23.08-.17,0-.33.01-.5.02.32-.02.33,0,0,0-.38,0-.76,0-1.14-.01-1.84-.02-3.68-.07-5.52-.11C10.03.14,6.69.08,3.36,0,2.18-.03,1.08.72.96,1.96c-.11,1.11.77,2.36,1.96,2.4-1.2-.5-1.38-.54-.55-.13.21.09.43.13.66.13.13.01.26,0,.4.01.31,0,.62.02.94.03.82.02,1.63.04,2.45.07,1.94.05,3.87.1,5.81.12,3.29.04,6.63.19,9.92,0l-1.82-3.85c-3.24,3.09-6.33,6.34-9.5,9.49-2.91,2.89-5.83,5.77-8.75,8.65-.59.58-1.17,1.16-1.77,1.73-1.25,1.2-.8,3.86,1.24,3.88,5.31.05,10.62-.01,15.92-.07,1.03-.01,2.06-.04,3.1.06,1.96.19,3.06-2.14,1.88-3.62-1.37-1.72-2.97-3.25-4.49-4.84-3.07-3.21-6.27-6.31-9.43-9.44-.87-.86-1.71-1.76-2.62-2.56-.59-.52-1.16-1.11-1.79-1.58s-1.34-.76-2.02-1.12c-.71-.37-1.43.49-1.17,1.16Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m26.16,2.49c.3.78.55,1.58,1.05,2.26.41.56.84,1.11,1.27,1.66.86,1.11,1.82,2.16,2.74,3.22,1.91,2.22,3.87,4.39,5.84,6.56,2.46,2.71,4.93,5.51,7.7,7.91l.88-3.97c-.15.01-.31.01-.46.04-.3.06.63.02-.06.01-.27,0-.55,0-.82,0-1.53-.02-3.06-.03-4.59-.05-3.4-.03-6.8-.08-10.2-.05-.77,0-1.54.01-2.31.02l1.24,3.88c4.97-4.95,10.02-9.83,15-14.78,1.68-1.68,3.41-3.33,5.02-5.09,1.45-1.59.5-4.12-1.82-3.85-.41.05-.82.06-1.23.08-.17,0-.33.01-.5.02.32-.02.33,0,0,0-.38,0-.76,0-1.14-.01-1.84-.02-3.68-.07-5.52-.11C34.88.14,31.55.08,28.21,0c-1.18-.03-2.27.72-2.4,1.96-.11,1.11.77,2.36,1.96,2.4-1.2-.5-1.38-.54-.55-.13.21.09.43.13.66.13.13.01.26,0,.4.01.31,0,.62.02.94.03.82.02,1.63.04,2.45.07,1.94.05,3.87.1,5.81.12,3.29.04,6.63.19,9.92,0l-1.82-3.85c-3.24,3.09-6.33,6.34-9.5,9.49-2.91,2.89-5.83,5.77-8.75,8.65-.59.58-1.17,1.16-1.77,1.73-1.25,1.2-.8,3.86,1.24,3.88,5.31.05,10.62-.01,15.92-.07,1.03-.01,2.06-.04,3.1.06,1.96.19,3.06-2.14,1.88-3.62-1.37-1.72-2.97-3.25-4.49-4.84-3.07-3.21-6.27-6.31-9.43-9.44-.87-.86-1.71-1.76-2.62-2.56-.59-.52-1.16-1.11-1.79-1.58s-1.34-.76-2.02-1.12c-.71-.37-1.43.49-1.17,1.16Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m51.01,2.49c.3.78.55,1.58,1.05,2.26.41.56.84,1.11,1.27,1.66.86,1.11,1.82,2.16,2.74,3.22,1.91,2.22,3.87,4.39,5.84,6.56,2.46,2.71,4.93,5.51,7.7,7.91l.88-3.97c-.15.01-.31.01-.46.04-.3.06.63.02-.06.01-.27,0-.55,0-.82,0-1.53-.02-3.06-.03-4.59-.05-3.4-.03-6.8-.08-10.2-.05-.77,0-1.54.01-2.31.02l1.24,3.88c4.97-4.95,10.02-9.83,15-14.78,1.68-1.68,3.41-3.33,5.02-5.09,1.45-1.59.5-4.12-1.82-3.85-.41.05-.82.06-1.23.08-.17,0-.33.01-.5.02.32-.02.33,0,0,0-.38,0-.76,0-1.14-.01-1.84-.02-3.68-.07-5.52-.11-3.34-.09-6.67-.15-10.01-.22-1.18-.03-2.27.72-2.4,1.96-.11,1.11.77,2.36,1.96,2.4-1.2-.5-1.38-.54-.55-.13.21.09.43.13.66.13.13.01.26,0,.4.01.31,0,.62.02.94.03.82.02,1.63.04,2.45.07,1.94.05,3.87.1,5.81.12,3.29.04,6.63.19,9.92,0l-1.82-3.85c-3.24,3.09-6.33,6.34-9.5,9.49-2.91,2.89-5.83,5.77-8.75,8.65-.59.58-1.17,1.16-1.77,1.73-1.25,1.2-.8,3.86,1.24,3.88,5.31.05,10.62-.01,15.92-.07,1.03-.01,2.06-.04,3.1.06,1.96.19,3.06-2.14,1.88-3.62-1.37-1.72-2.97-3.25-4.49-4.84-3.07-3.21-6.27-6.31-9.43-9.44-.87-.86-1.71-1.76-2.62-2.56-.59-.52-1.16-1.11-1.79-1.58s-1.34-.76-2.02-1.12c-.71-.37-1.43.49-1.17,1.16Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m75.86,2.49c.3.78.55,1.58,1.05,2.26.41.56.84,1.11,1.27,1.66.86,1.11,1.82,2.16,2.74,3.22,1.91,2.22,3.87,4.39,5.84,6.56,2.46,2.71,4.93,5.51,7.7,7.91l.88-3.97c-.15.01-.31.01-.46.04-.3.06.63.02-.06.01-.27,0-.55,0-.82,0-1.53-.02-3.06-.03-4.59-.05-3.4-.03-6.8-.08-10.2-.05-.77,0-1.54.01-2.31.02l1.24,3.88c4.97-4.95,10.02-9.83,15-14.78,1.68-1.68,3.41-3.33,5.02-5.09,1.45-1.59.5-4.12-1.82-3.85-.41.05-.82.06-1.23.08-.17,0-.33.01-.5.02.32-.02.33,0,0,0-.38,0-.76,0-1.14-.01-1.84-.02-3.68-.07-5.52-.11-3.34-.09-6.67-.15-10.01-.22-1.18-.03-2.27.72-2.4,1.96-.11,1.11.77,2.36,1.96,2.4-1.2-.5-1.38-.54-.55-.13.21.09.43.13.66.13.13.01.26,0,.4.01.31,0,.62.02.94.03.82.02,1.63.04,2.45.07,1.94.05,3.87.1,5.81.12,3.29.04,6.63.19,9.92,0l-1.82-3.85c-3.24,3.09-6.33,6.34-9.5,9.49-2.91,2.89-5.83,5.77-8.75,8.65-.59.58-1.17,1.16-1.77,1.73-1.25,1.2-.8,3.86,1.24,3.88,5.31.05,10.62-.01,15.92-.07,1.03-.01,2.06-.04,3.1.06,1.96.19,3.06-2.14,1.88-3.62-1.37-1.72-2.97-3.25-4.49-4.84-3.07-3.21-6.27-6.31-9.43-9.44-.87-.86-1.71-1.76-2.62-2.56-.59-.52-1.16-1.11-1.79-1.58s-1.34-.76-2.02-1.12c-.71-.37-1.43.49-1.17,1.16Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 108.10849 24.978941" id="iconAsset6">
            <g id="c6">
                <path d="m105.92,23.8c.81-3.16,1.42-6.39,1.82-9.62.29-2.37.51-4.81.26-7.19-.18-1.73-.64-3.72-2.13-4.8-1.15-.83-2.82-.9-4.19-1.01-2.17-.17-4.36-.22-6.54-.24-5.12-.05-10.25.09-15.37.27-3.16.11-6.32.24-9.48.41-.86.05-1.36.84-1.36,1.63v20.41c0,1.93,2.99,1.66,2.99-.26V2.98l-1.36,1.63c7.16-.38,14.34-.64,21.52-.69,3.72-.02,7.67-.23,11.35.48.22.04.44.1.66.16-.26-.06.16.17.09.07.36.49.57.98.7,1.63.42,2.03.25,4.2.04,6.24-.37,3.62-1.05,7.24-1.95,10.76-.48,1.87,2.47,2.4,2.95.54h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m88.63,10.6c2.16,0,3.91,2.36,3.91,5.27s-1.75,5.27-3.91,5.27-3.91-2.36-3.91-5.27,1.75-5.27,3.91-5.27Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m71.92,23.4V2.98c0-.67-.62-1.21-1.22-1.34-11.26-2.51-23.11-1.74-34.42-.02-.86.13-1.36.77-1.36,1.63v20.41c0,1.93,2.99,1.66,2.99-.26V2.98l-1.36,1.63c11.07-1.68,22.6-2.47,33.62-.02l-1.22-1.34v20.41c0,1.93,2.99,1.66,2.99-.26h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m54.61,10.6c2.16,0,3.91,2.36,3.91,5.27s-1.75,5.27-3.91,5.27-3.91-2.36-3.91-5.27,1.75-5.27,3.91-5.27Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m37.91,23.4V2.98c0-.61-.61-1.28-1.22-1.34C29.42.85,22.11.28,14.8.11,11.06.01,6.75-.3,3.14.91S.02,7.46.04,10.53c.03,4.38.36,8.77.86,13.12.22,1.91,3.21,1.66,2.99-.26-.39-3.41-.65-6.84-.79-10.26-.09-2.34-.17-4.72.1-7.06.09-.75.32-1.67.44-2.1.07-.26.16-.24,0-.03.18-.23-.17.25-.05.04.02-.04.16-.12.21-.13-.43.12-.02.01.09-.02.75-.25.79-.27,1.48-.38.83-.14,1.67-.21,2.51-.27,2.07-.14,4.14-.14,6.21-.11,4.61.08,9.22.38,13.82.75,2.75.22,5.5.47,8.24.76l-1.22-1.34v20.41c0,1.93,2.99,1.66,2.99-.26h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m20.59,10.6c2.16,0,3.91,2.36,3.91,5.27s-1.75,5.27-3.91,5.27-3.91-2.36-3.91-5.27,1.75-5.27,3.91-5.27Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 107.07571 57.345" id="iconAsset7">
            <g id="c7">
                <path d="m0,49.91c.19,2.66,1.33,5.21,3.7,6.59,1.92,1.12,4.36,1.1,6.32.1,3.44-1.75,4.26-5.28,4.42-8.81.37-8.26.74-16.53,1.11-24.79.19-4.19.39-8.4.6-12.61.07-1.4-.02-2.96.32-4.33.18-.74.57-1.24,1.17-1.61.46-.29,1.15-.46,2.04-.41,1.23.06,2.8.87,3.16,2.08.1.32-.04-.27.03.07.02.1.03.21.04.31.01.19.01.38.01.57,0,.25,0,.5,0,.75,0,.66,0,1.31-.01,1.97-.02,4.35,0,8.71,0,13.06.02,8.7.08,17.4.03,26.1-.02,4.45,4.48,7.14,8.62,6.55,2.26-.32,4.35-1.59,5.2-3.79.64-1.64.45-3.5.46-5.23.04-9.64.07-19.28.06-28.92,0-3.51.06-7.03-.06-10.53,0-.1,0-.21,0-.31,0-.31,0,.24,0,0,0-.45-.06.08.04-.21.01-.04.15-.27.02-.07-.15.22.14-.18.15-.19.09-.1.37-.34.12-.14.17-.14.35-.26.53-.37.07-.04-.06.01.23-.12.25-.11.51-.21.77-.3,1.46-.49,3.68-.54,5-.01.49.2.6.25.83.42.1.07.48.46.24.18.07.08.34.5.26.36-.12-.2.14.54.05.1.04.19.04.39.05.58.01.25,0,.51,0,.76,0,1.51,0,3.02-.02,4.54-.02,4.72-.04,9.44-.06,14.15-.02,5.02-.03,10.03-.01,15.05,0,1.83.01,3.66.04,5.49.02,1.31-.08,2.71.37,3.96,1.5,4.17,7.48,5.67,11.31,4.3,2.23-.8,3.86-2.73,4.2-5.09.21-1.46.18-3,.25-4.47.52-10.02,1.05-20.03,1.48-30.05.09-1.96.17-3.92.23-5.88.02-.67.04-1.34.06-2.01,0-.24,0-.47.01-.71,0-.48-.11-.19.06-.6-.13.31.04-.1.1-.18-.2.28.13-.16.2-.24.05-.06-.07.03.19-.16.13-.09.55-.36.53-.35.71-.37,1.4-.49,2.35-.55.69-.04,1.64.14,2.26.46.42.22.77.71.82,1.04.2,1.25.04,2.65.05,3.91,0,1.97.01,3.94.02,5.91.02,5.07.03,10.14.04,15.21,0,4.51.02,9.01,0,13.52-.01,3-.63,6.24,2.06,8.33,3.18,2.48,9.09,3.2,11.91-.21,1.33-1.61,1.26-3.6,1.26-5.56s-.01-3.77-.02-5.65c-.03-10.22-.06-20.43-.02-30.65,0-1.52-.1-3.09.04-4.6.01-.14.11-.57.2-.77.04-.08.35-.59.17-.34.07-.1.48-.55.29-.37.59-.55,1.34-.83,1.87-.94,1.03-.22,1.72-.19,2.59-.04.77.14,1.67.47,2.13.83.42.32.49.41.67.66.12.18.3.54.34.78.06.29.03,1.11.03,1.62,0,8.41,0,16.82,0,25.22,0,4.1,0,8.2,0,12.3,0,2.16-.31,4.69.66,6.68,1.05,2.15,3.17,3.85,5.6,4.08,3.2.3,5.59-1.75,7.05-4.42,1.24-2.26-2.38-3.96-3.62-1.71-.51.94-1.31,1.93-2.33,2.14-.7.14-1.45-.09-2.03-.53-1.06-.78-1.34-1.68-1.35-2.96-.01-2.55,0-5.1,0-7.65,0-9.17,0-18.33,0-27.5,0-1.67,0-3.35,0-5.02,0-1.39.11-2.83-.43-4.14-1.73-4.19-7.49-5.37-11.4-3.87-2.13.82-3.78,2.51-4.28,4.76-.35,1.54-.17,3.34-.18,4.91-.03,4.75-.02,9.5-.02,14.24,0,5.33.01,10.66.03,15.99,0,2.03.01,4.06.02,6.09,0,.72,0,1.44,0,2.16,0,.33,0,.58-.02.78,0,.07-.12.58-.04.33-.04.11-.35.69-.17.42-.31.45-.23.36-.63.59-.07.04.1-.02-.21.1-.13.05-.66.22-.58.2-.69.16-1.59.13-2.33,0-.93-.16-1.46-.32-2.35-.84-.29-.17.2.15-.06-.03-.08-.05-.16-.11-.23-.17-.14-.12-.28-.23-.41-.36.26.25-.08-.1-.15-.21-.26-.36.02.11-.1-.18s-.02.29-.03-.16c0-.13,0-.25,0-.37,0-.21,0-.41.01-.62.01-.58.02-1.16.02-1.74.01-1.75.02-3.5.02-5.25.01-9.64-.03-19.28-.05-28.92,0-3.1.75-7.39-1.77-9.72-3.07-2.84-9.29-2.31-11.78,1.07-1.07,1.45-.98,3.06-1.02,4.75s-.11,3.3-.17,4.94c-.2,4.85-.43,9.7-.67,14.55s-.5,9.92-.76,14.88c-.09,1.68-.18,3.37-.26,5.05-.03.66-.09,1.69-.22,2.07-.18.49-.2.52-.54.87,0-.01-.65.44-.62.43-1.45.65-3.26.49-4.78-.23-.76-.36-1.22-.69-1.59-1.23-.2-.3-.07-.09-.11-.17-.07-.14-.17-.61-.11-.24-.04-.26-.04-.53-.05-.79-.12-3.41-.08-6.84-.08-10.25,0-9.48.05-18.95.08-28.43,0-1.25.14-2.6-.03-3.84-.29-2.19-1.93-3.8-3.95-4.53-3.67-1.31-9.78-.86-11.79,3.06-.66,1.29-.46,2.79-.44,4.19.02,1.75.03,3.49.03,5.24.01,4.92,0,9.85,0,14.77s-.02,9.8-.04,14.71c0,1.66-.01,3.31-.02,4.97,0,.66-.03,1.27-.16,1.68-.21.65-.6.9-1.21,1.14-1.16.46-3.06.22-4.07-.59-.46-.37-.44-.3-.64-.67-.06-.11-.2-.49-.21-.62-.04-.55,0-1.11,0-1.66.02-3.78,0-7.55,0-11.33-.02-9.28-.08-18.56-.03-27.84,0-1.48.14-2.97-.48-4.37-.94-2.13-2.98-3.48-5.2-4.01-2.08-.49-4.49-.14-6.22,1.17-1.82,1.37-2.52,3.44-2.64,5.64-.46,8.55-.82,17.1-1.21,25.65-.19,4.18-.38,8.37-.56,12.55-.05,1.14-.1,2.28-.15,3.42,0,.22-.01.45-.03.67,0,.01,0,.03,0,.05.05-.5-.05.24-.08.39-.1.61-.26,1.16-.55,1.71-.35.66-.99,1.28-1.42,1.5-.19.09-.38.16-.58.23-.39.14-.07.05-.37.09-.2.02-.4.04-.6.04.34,0-.26-.04-.36-.06-.51-.08-1.14-.46-1.51-.91-.65-.8-.86-1.76-.93-2.83-.18-2.57-4.17-2.22-3.98.35H0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 90.489044 25.43235" id="iconAsset8">
            <g id="c8">
                <path d="m20.88,13.02c.56-2.59.18-5.6-1.17-7.89-1.22-2.06-3.29-3.33-5.57-3.9-2.55-.65-5.66-.68-8.06.51C1.77,3.9-.32,9.08.04,13.72c.44,5.58,4.55,9.7,9.93,10.82,5.83,1.21,12.17-.49,17.71-2.23,7.07-2.23,13.87-5.25,20.57-8.39s12.88-6.7,19.72-8.95c3.39-1.12,6.95-1.91,10.53-1.9,2.48,0,5.31.49,7.15,2.29s2.07,4.79,1.66,7.28c-.51,3.1-2.13,5.98-4.68,7.84-2.18,1.58-4.98,2.4-7.64,1.68-2.45-.67-4.85-2.61-5.34-4.91-.06-.29-.08-.59-.11-.88-.03-.33.01-.46-.02-.06.15-1.91-2.8-2.47-2.95-.54-.38,4.94,4.23,8.85,8.79,9.54,6.24.94,12.12-3.56,14.16-9.28s1.08-12.43-4.94-14.85c-6.33-2.55-14.05-.46-20.11,1.87-6.64,2.55-12.93,6.08-19.38,9.06s-13.47,6.01-20.54,8.03c-5.1,1.45-11.51,3.01-16.57.6-4.33-2.06-5.89-7.08-4.41-11.49.64-1.9,1.86-3.75,3.66-4.72,2.03-1.09,4.99-.9,7.09-.12,1.84.69,2.95,2.02,3.49,3.79.18.58.28,1.34.31,2.14,0,.17-.01,1.04,0,.69-.01.27-.04.54-.07.8-.03.22-.06.44-.11.66-.41,1.89,2.55,2.43,2.95.54h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 91.605354 40.586697" id="iconAsset90">
            <g id="c9">
                <path d="m3.58,5.48c9.09-.47,18.19-.8,27.29-1.07,7.87-.23,15.74-.39,23.61-.42,7.09-.03,14.58.03,21.25.45,2.57.16,5.15.36,7.7.75.92.14,1.85.3,2.75.54.19.05.37.11.56.15.47.11-.46-.2.08.03.27.11.54.24.81.35.44.17-.06-.05-.07-.06.08.06.17.12.24.19.15.15-.4-.51-.16-.16.03.05-.35-.52-.23-.68-.12.17.07,1.11.07,1.34.01.52,0,1.03-.04,1.54-.09.98-.26,1.92-.66,2.79-.78,1.69-2.33,2.5-4.3,2.72-1.13.12-2.27.06-3.4.02-13.72-.49-27.43-.94-41.16-1.17-7.68-.13-15.37-.22-23.04-.04-2.65.06-5.31.14-7.95.4-1.45.14-3.32.21-4.55,1.1-1.35.97-1.92,3.21-2.19,4.75-.38,2.21-.23,4.71,1.01,6.64,1.52,2.37,4,2.71,6.54,2.7,5.03-.01,10.05-.24,15.08-.41,15.71-.52,31.43-1.12,47.15-1.16,3.21,0,6.41,0,9.62.1.67.02,1.34.04,2.01.07.09,0,.63.03.09,0,.15,0,.31.01.46.02.29.02.59.03.88.05,1.01.06,2.03.14,3.04.26.7.09,1.37.24,2.06.37.45.08-.26-.09-.15-.05.08.03.21.06.27.11.31.26-.44-.34-.2-.13-.05-.04-.38-.46-.44-.64-.33-.91-.09-.11-.09.29,0,.21-.01.85-.01.77-.05,1.09-.2,2.19-.42,3.26-.35,1.68-1,3.69-2.25,4.7s-3.36.6-5.05.58c-2.49-.03-4.98-.03-7.47-.04-7.4-.02-14.8-.02-22.2,0-13.67.02-27.33.05-41,.1-.81,0-1.62,0-2.43,0-2.57,0-2.21,3.99.35,3.98,10.67-.04,21.34-.07,32.01-.09,13.91-.03,27.83-.14,41.75.04,2.64.03,5.03.05,7.1-1.96,2.97-2.88,3.83-8.09,3.61-12.07-.11-2-1.72-2.64-3.44-2.96-2.08-.39-4.22-.46-6.33-.56-14.96-.68-30.02.03-44.97.5-7.15.22-14.29.48-21.44.7-2.29.07-4.58.14-6.87.17-.67,0-1.33,0-1.99,0-.74,0,.25.09-.11,0-.73-.19-1.23-.25-1.6-.65-1.04-1.14-.84-3.41-.38-4.99.1-.35.26-.71.43-1.09.23-.5.33-.41-.14-.07.35-.26-.59.14.04-.01.11-.03.25-.06.36-.11.38-.16-.59.09,0,0,.41-.06.81-.14,1.22-.19,1.02-.13,2.04-.21,3.07-.28,6.85-.45,13.75-.37,20.61-.31,15.31.13,30.62.61,45.92,1.15,1.76.06,3.52.16,5.27.18,2.49.03,5.18-.52,7.11-2.2,1.72-1.5,2.68-3.58,3.04-5.81.42-2.66.8-5.93-1.93-7.35-1.53-.8-3.37-1.1-5.06-1.36-5.96-.92-12.07-1.04-18.09-1.17-7.92-.17-15.85-.1-23.77.04C30.03.37,17.63.8,5.24,1.39c-.67.03-1.34.06-2.01.1-2.57.13-2.22,4.12.35,3.98h0Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 40.10103 127.42398" id="iconAsset10">
            <g id="c10">
                <path d="m2.67,21.24c-.94,1.01-1.13,2.83-1.35,4.13-.42,2.43-.65,4.89-.84,7.34-.44,5.75-.67,11.59-.26,17.35.14,1.93.27,4.05.99,5.87.64,1.65,1.74,2.35,3.47,1.94.7-.16,1.19-.27,2.17-.48,1.22-.26,2.44-.51,3.66-.77,3.11-.65,6.23-1.31,9.33-2s6.41-1.45,9.58-2.29c2.19-.58,4.47-1.14,6.53-2.11,1.55-.73,2.22-1.68,2.68-3.31.59-2.11.79-4.35.98-6.52.52-5.95.66-11.99.25-17.95-.15-2.19-.32-4.47-.98-6.57-.51-1.63-1.43-2.55-3.17-2.58-2.01-.03-4.05.34-6.02.66-3.01.48-6.01,1.06-9,1.7-3.17.67-6.33,1.4-9.46,2.25-2.21.59-4.48,1.19-6.58,2.13-.73.33-1.4.68-1.98,1.23-1.4,1.33.91,3.25,2.3,1.93-.4.38.17-.07.33-.17-.34.2.06-.03.16-.08.21-.09.41-.18.62-.27.93-.38,1.88-.7,2.83-.99,2.55-.8,5.15-1.46,7.75-2.07,5.38-1.28,10.85-2.44,16.34-3.1.84-.1,1.69-.2,2.54-.22.14,0,.28,0,.42,0,.2,0-.28.1.02,0,.26-.08.13.16-.07-.05-.09-.09-.05-.06-.25-.21.06.04.16.19.18.26-.08-.32-.03-.08.02.09.11.33.22.64.31.98.14.53.31,1.59.41,2.45.65,5.3.59,10.75.32,16.08-.13,2.55-.32,5.1-.69,7.62-.13.88-.28,1.76-.5,2.63-.04.16-.09.33-.14.49,0-.02.07-.13-.06.15-.05.11-.1.23-.15.34-.16.38.08-.1,0,.03-.18.26.23-.16.04-.03-.11.08-.21.16-.33.22-.32.16.22-.1-.14.07-.18.08-.36.16-.54.24-.91.38-1.85.68-2.79.97-2.57.79-5.19,1.44-7.81,2.06-5.57,1.32-11.18,2.47-16.78,3.65-.92.2-1.85.39-2.77.6-.26.06-.57.09-.81.19.2-.09.48.04.75.16-.29-.14.21.1.03.04-.06-.02-.28-.48-.03,0-.14-.26-.23-.55-.32-.83-.22-.72-.3-1.24-.43-2.2-.66-5.01-.51-10.18-.25-15.21.22-4.39.44-8.96,1.53-13.24.08-.3.07-.22.03-.13.04-.11.09-.22.12-.33.03-.09.08-.17.13-.26,0-.01-.25.31-.03.08,1.32-1.42-.98-3.34-2.3-1.93Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m10.01,27.33c-.63.7-.8,1.76-.96,2.66-.23,1.28-.35,2.59-.45,3.89-.24,3.15-.38,6.36-.15,9.52.17,2.33.68,5.82,3.86,5.08.41-.1.26-.06.08-.02.24-.05.48-.1.72-.16.64-.14,1.27-.27,1.91-.4,1.65-.35,3.29-.69,4.94-1.06,2.91-.65,6.11-1.13,8.84-2.39,2.34-1.07,2.48-3.64,2.69-5.93.3-3.26.38-6.59.16-9.86-.14-2.03-.25-5.58-2.89-5.9-1.33-.16-2.75.15-4.05.36-1.8.3-3.6.66-5.38,1.05-1.9.42-3.8.86-5.67,1.42-1.03.31-2.44.64-3.26,1.39s-1.16,1.83-.48,2.79c.56.79,1.99,1.21,2.79.48.09-.08.19-.14.29-.2-.57.38-.07.05.11-.03.46-.2.94-.35,1.42-.51,1.33-.42,2.69-.77,4.05-1.09,2.53-.6,5.38-1.2,8.13-1.55.46-.06.93-.1,1.39-.14.07,0,.14,0,.21,0,.31-.03.05.08,0,0,.03.05-.34-.08-.06,0,.35.11-1.01-.53-.7-.33-.2-.13-.36-.4-.23-.23-.38-.51-.14-.36-.1-.16.03.15.09.31.15.45.14.38-.05-.37.03.18.05.31.1.62.14.93.15,1.28.21,2.58.23,3.87s0,3.08-.05,4.07c-.06,1.32-.16,2.64-.35,3.94-.07.46-.15.91-.25,1.36-.12.58-.15.12,0,.08-.05.01-.47.65.05.03.16-.19.4-.39.08-.12.23-.19.29-.12-.05,0-.5.18-.99.37-1.49.52-1.32.41-2.66.74-4.01,1.06-2.74.65-5.59,1.23-8.46,1.84-.41.09-.83.18-1.24.27-.31.07-.61.13-.92.21-.04.01-.11.02-.15.04.37-.17.89-.12,1.25.06.08.04.66.58.57.46-.1-.13-.03-.24.13.27-.05-.14-.11-.3-.16-.43-.2-.47.04.37-.03-.11-.04-.26-.09-.51-.12-.77-.17-1.35-.21-2.73-.21-4.09,0-1.61.04-3.08.13-4.46s.21-2.86.42-4.27c.07-.49.16-.98.27-1.46.02-.08.06-.17.06-.25.02-.31-.18.39-.05.16.21-.39,0-.02-.08.08,1.72-1.93-1.35-4.49-3.06-2.57Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m18.55,3.39v14.05c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63V3.12c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m7.75,7.47v12.53c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63V7.21c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m31.79,1.63v13.28c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63V1.37c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m2.67,79.32c-.94,1.01-1.13,2.83-1.35,4.13-.42,2.43-.65,4.89-.84,7.34-.44,5.75-.67,11.59-.26,17.35.14,1.93.27,4.05.99,5.87.64,1.65,1.74,2.35,3.47,1.94.7-.16,1.19-.27,2.17-.48,1.22-.26,2.44-.51,3.66-.77,3.11-.65,6.23-1.31,9.33-2s6.41-1.45,9.58-2.29c2.19-.58,4.47-1.14,6.53-2.11,1.55-.73,2.22-1.68,2.68-3.31.59-2.11.79-4.35.98-6.52.52-5.95.66-11.99.25-17.95-.15-2.19-.32-4.47-.98-6.57-.51-1.63-1.43-2.55-3.17-2.58-2.01-.03-4.05.34-6.02.66-3.01.48-6.01,1.06-9,1.7-3.17.67-6.33,1.4-9.46,2.25-2.21.59-4.48,1.19-6.58,2.13-.73.33-1.4.68-1.98,1.23-1.4,1.33.91,3.25,2.3,1.93-.4.38.17-.07.33-.17-.34.2.06-.03.16-.08.21-.09.41-.18.62-.27.93-.38,1.88-.7,2.83-.99,2.55-.8,5.15-1.46,7.75-2.07,5.38-1.28,10.85-2.44,16.34-3.1.84-.1,1.69-.2,2.54-.22.14,0,.28,0,.42,0,.2,0-.28.1.02,0,.26-.08.13.16-.07-.05-.09-.09-.05-.06-.25-.21.06.04.16.19.18.26-.08-.32-.03-.08.02.09.11.33.22.64.31.98.14.53.31,1.59.41,2.45.65,5.3.59,10.75.32,16.08-.13,2.55-.32,5.1-.69,7.62-.13.88-.28,1.76-.5,2.63-.04.16-.09.33-.14.49,0-.02.07-.13-.06.15-.05.11-.1.23-.15.34-.16.38.08-.1,0,.03-.18.26.23-.16.04-.03-.11.08-.21.16-.33.22-.32.16.22-.1-.14.07-.18.08-.36.16-.54.24-.91.38-1.85.68-2.79.97-2.57.79-5.19,1.44-7.81,2.06-5.57,1.32-11.18,2.47-16.78,3.65-.92.2-1.85.39-2.77.6-.26.06-.57.09-.81.19.2-.09.48.04.75.16-.29-.14.21.1.03.04-.06-.02-.28-.48-.03,0-.14-.26-.23-.55-.32-.83-.22-.72-.3-1.24-.43-2.2-.66-5.01-.51-10.18-.25-15.21.22-4.39.44-8.96,1.53-13.24.08-.3.07-.22.03-.13.04-.11.09-.22.12-.33.03-.09.08-.17.13-.26,0-.01-.25.31-.03.08,1.32-1.42-.98-3.34-2.3-1.93Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m10.01,85.4c-.63.7-.8,1.76-.96,2.66-.23,1.28-.35,2.59-.45,3.89-.24,3.15-.38,6.36-.15,9.52.17,2.33.68,5.82,3.86,5.08.41-.1.26-.06.08-.02.24-.05.48-.1.72-.16.64-.14,1.27-.27,1.91-.4,1.65-.35,3.29-.69,4.94-1.06,2.91-.65,6.11-1.13,8.84-2.39,2.34-1.07,2.48-3.64,2.69-5.93.3-3.26.38-6.59.16-9.86-.14-2.03-.25-5.58-2.89-5.9-1.33-.16-2.75.15-4.05.36-1.8.3-3.6.66-5.38,1.05-1.9.42-3.8.86-5.67,1.42-1.03.31-2.44.64-3.26,1.39s-1.16,1.83-.48,2.79c.56.79,1.99,1.21,2.79.48.09-.08.19-.14.29-.2-.57.38-.07.05.11-.03.46-.2.94-.35,1.42-.51,1.33-.42,2.69-.77,4.05-1.09,2.53-.6,5.38-1.2,8.13-1.55.46-.06.93-.1,1.39-.14.07,0,.14,0,.21,0,.31-.03.05.08,0,0,.03.05-.34-.08-.06,0,.35.11-1.01-.53-.7-.33-.2-.13-.36-.4-.23-.23-.38-.51-.14-.36-.1-.16.03.15.09.31.15.45.14.38-.05-.37.03.18.05.31.1.62.14.93.15,1.28.21,2.58.23,3.87s0,3.08-.05,4.07c-.06,1.32-.16,2.64-.35,3.94-.07.46-.15.91-.25,1.36-.12.58-.15.12,0,.08-.05.01-.47.65.05.03.16-.19.4-.39.08-.12.23-.19.29-.12-.05,0-.5.18-.99.37-1.49.52-1.32.41-2.66.74-4.01,1.06-2.74.65-5.59,1.23-8.46,1.84-.41.09-.83.18-1.24.27-.31.07-.61.13-.92.21-.04.01-.11.02-.15.04.37-.17.89-.12,1.25.06.08.04.66.58.57.46-.1-.13-.03-.24.13.27-.05-.14-.11-.3-.16-.43-.2-.47.04.37-.03-.11-.04-.26-.09-.51-.12-.77-.17-1.35-.21-2.73-.21-4.09,0-1.61.04-3.08.13-4.46s.21-2.86.42-4.27c.07-.49.16-.98.27-1.46.02-.08.06-.17.06-.25.02-.31-.18.39-.05.16.21-.39,0-.02-.08.08,1.72-1.93-1.35-4.49-3.06-2.57Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m18.55,61.46v14.05c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63v-14.05c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m7.75,65.55v12.53c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63v-12.53c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m31.79,59.7v13.28c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63v-13.28c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m18.55,111.27v14.05c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63v-14.05c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m7.75,113.53v12.53c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63v-12.53c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m31.79,109.46v11.56c0,.81.87,1.43,1.63,1.36.87-.08,1.36-.81,1.36-1.63v-11.56c0-.81-.87-1.43-1.63-1.36-.87.08-1.36.81-1.36,1.63h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 48.394505 128.39638" id="iconAsset11">
            <g id="c11">
                <path d="m.92,3.7C-.2,5.11-.09,7.08.17,8.77c.38,2.53,1.14,5.02,1.96,7.44,2.13,6.35,4.86,12.51,7.75,18.54,2.62,5.46,5.36,10.96,8.69,16.04.89,1.36,1.87,2.91,3.19,3.89,1.62,1.21,3.18.55,4.41-.8,1.32-1.45,2.35-3.23,3.37-4.9,1.51-2.47,2.91-5,4.27-7.55,3.28-6.13,6.33-12.4,9.11-18.77,1.24-2.84,2.43-5.7,3.47-8.61.76-2.12,1.55-4.31,1.89-6.55.25-1.67.19-3.38-1.27-4.48-1.68-1.27-4.08-1.63-6.1-1.95C34.23-.02,27.31-.1,20.55.07c-3.39.08-6.78.26-10.14.66-2.41.29-5,.59-7.27,1.52-.83.34-1.62.77-2.22,1.45-1.7,1.94,1.37,4.51,3.06,2.57.25-.29-.22.41-.05.04.04-.09.27-.17.34-.22-.2.14-.31.12.05-.01.23-.08.44-.18.67-.26.4-.14.81-.25,1.22-.36.1-.03.2-.05.3-.07.53-.13-.43.09.12-.03.29-.06.57-.12.86-.17,2.8-.52,5.66-.76,8.5-.94,6.56-.4,13.18-.39,19.66.19,2.48.22,5,.49,7.4,1.14.2.05.4.11.6.18-.58-.18.1.04.21.09.15.06.3.13.45.2.08.03.14.08.22.11.31.12-.04.19-.12-.09.01.05.23.18.27.22.03.03-.36-.42-.13-.11-.31-.41-.24-.42-.12-.15-.13-.29-.21-.46-.06-.12.05.1,0,.3,0,.4-.05-.67.02-.25-.01-.02-.06.39-.11.78-.19,1.17-.18.91-.44,1.81-.71,2.69-.04.13-.08.27-.13.4-.1.32.15-.45-.03.09-.09.26-.17.52-.26.78-.21.61-.43,1.23-.66,1.84-.49,1.32-1.01,2.64-1.55,3.94-2.48,6.05-5.28,11.97-8.24,17.8-1.4,2.77-2.85,5.51-4.37,8.22-.64,1.15-1.3,2.29-1.98,3.42-.27.46-.55.91-.84,1.37-.05.09-.51.8-.25.4-.14.21-.28.42-.42.63-.46.68-.92,1.36-1.45,1.98-.17.2-.36.38-.52.58-.11.13.45-.34.08-.08-.24.16-.33.1.2-.08-.36.12.53-.08.31-.06.37-.04.46-.02.79.13-.43-.2.36.4-.14-.11-.08-.08-.17-.17-.26-.25-.36-.3.28.37-.03-.04-.23-.3-.48-.58-.71-.89-3.01-4-5.3-8.58-7.49-12.92-2.94-5.82-5.66-11.77-8.01-17.85-1-2.58-1.94-5.19-2.69-7.86-.14-.51-.27-1.02-.4-1.53-.15-.59.02.15-.1-.42-.05-.27-.11-.54-.16-.81-.14-.79-.21-1.58-.22-2.38.01.76.07-.16.08-.36.02-.42-.19.42-.02.07.18-.38-.33.43-.08.1,1.6-2.02-1.46-4.59-3.06-2.57Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m12.67,12.7c-2.03,2.43,9.49,26.02,11.25,25.67s13.5-23.44,11.95-25.67c-1.55-2.23-21.45-2.11-23.2,0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m.92,76.78c-1.12,1.41-1.01,3.38-.75,5.07.38,2.53,1.14,5.02,1.96,7.44,2.13,6.35,4.86,12.51,7.75,18.54,2.62,5.46,5.36,10.96,8.69,16.04.89,1.36,1.87,2.91,3.19,3.89,1.62,1.21,3.18.55,4.41-.8,1.32-1.45,2.35-3.23,3.37-4.9,1.51-2.47,2.91-5,4.27-7.55,3.28-6.13,6.33-12.4,9.11-18.77,1.24-2.84,2.43-5.7,3.47-8.61.76-2.12,1.55-4.31,1.89-6.55.25-1.67.19-3.38-1.27-4.48-1.68-1.27-4.08-1.63-6.1-1.95-6.69-1.08-13.61-1.15-20.36-.98-3.39.08-6.78.26-10.14.66-2.41.29-5,.59-7.27,1.52-.83.34-1.62.77-2.22,1.45-1.7,1.94,1.37,4.51,3.06,2.57.25-.29-.22.41-.05.04.04-.09.27-.17.34-.22-.2.14-.31.12.05-.01.23-.08.44-.18.67-.26.4-.14.81-.25,1.22-.36.1-.03.2-.05.3-.07.53-.13-.43.09.12-.03.29-.06.57-.12.86-.17,2.8-.52,5.66-.76,8.5-.94,6.56-.4,13.18-.39,19.66.19,2.48.22,5,.49,7.4,1.14.2.05.4.11.6.18-.58-.18.1.04.21.09.15.06.3.13.45.2.08.03.14.08.22.11.31.12-.04.19-.12-.09.01.05.23.18.27.22.03.03-.36-.42-.13-.11-.31-.41-.24-.42-.12-.15-.13-.29-.21-.46-.06-.12.05.1,0,.3,0,.4-.05-.67.02-.25-.01-.02-.06.39-.11.78-.19,1.17-.18.91-.44,1.81-.71,2.69-.04.13-.08.27-.13.4-.1.32.15-.45-.03.09-.09.26-.17.52-.26.78-.21.61-.43,1.23-.66,1.84-.49,1.32-1.01,2.64-1.55,3.94-2.48,6.05-5.28,11.97-8.24,17.8-1.4,2.77-2.85,5.51-4.37,8.22-.64,1.15-1.3,2.29-1.98,3.42-.27.46-.55.91-.84,1.37-.05.09-.51.8-.25.4-.14.21-.28.42-.42.63-.46.68-.92,1.36-1.45,1.98-.17.2-.36.38-.52.58-.11.13.45-.34.08-.08-.24.16-.33.1.2-.08-.36.12.53-.08.31-.06.37-.04.46-.02.79.13-.43-.2.36.4-.14-.11-.08-.08-.17-.17-.26-.25-.36-.3.28.37-.03-.04-.23-.3-.48-.58-.71-.89-3.01-4-5.3-8.58-7.49-12.92-2.94-5.82-5.66-11.77-8.01-17.85-1-2.58-1.94-5.19-2.69-7.86-.14-.51-.27-1.02-.4-1.53-.15-.59.02.15-.1-.42-.05-.27-.11-.54-.16-.81-.14-.79-.21-1.58-.22-2.38.01.76.07-.16.08-.36.02-.42-.19.42-.02.07.18-.38-.33.43-.08.1,1.6-2.02-1.46-4.59-3.06-2.57Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m12.67,85.78c-2.03,2.43,9.49,26.02,11.25,25.67s13.5-23.44,11.95-25.67c-1.55-2.23-21.45-2.11-23.2,0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
            </g>
        </symbol>
        <symbol viewBox="0 0 61.079777 122.70573" id="iconAsset12">
            <g id="c12">
                <path d="m.9,1.2C.19,9.77-.18,18.45.15,27.06c.1,2.61.27,5.23.66,7.81.31,2,.7,4.1,1.7,5.88,1.62,2.89,5.9,3.44,8.83,4.07,5.61,1.21,11.34,1.94,17.06,2.45,6.04.55,12.17.89,18.24.51,2.29-.14,4.58-.4,6.8-.97,1.51-.39,3.14-.99,4.18-2.2,1.17-1.36,1.66-3.32,2.04-5.03.55-2.48.8-5.03.99-7.56.74-9.98.42-20.08-.18-30.07-.01-.21-.03-.41-.04-.62-.13-1.93-3.12-1.67-2.99.26.55,8.26.77,16.58.51,24.85-.14,4.63-.28,10.08-1.69,14.29-.12.37-.26.73-.42,1.08-.07.16-.15.31-.23.46-.2.38.07-.07-.17.26-.08.11-.16.2-.25.29-.15.16.23-.16-.1.07-.12.08-.24.17-.36.25-.31.21.05,0-.24.13-1.67.79-3.22,1.02-5.03,1.25-5.36.67-10.85.49-16.23.14-5.84-.38-11.68-1.03-17.45-2.03-2.23-.39-4.46-.82-6.65-1.41-.92-.24-1.37-.37-2.13-.66-.29-.11-.57-.22-.85-.35-.2-.09-.79-.43-.43-.21-.32-.2-.6-.64-.75-.98-.35-.77-.59-1.58-.79-2.4-.48-2-.71-4.45-.87-6.64-.65-9.18-.2-18.49.5-27.66.02-.2.03-.39.05-.59C4.01-.17,1.06-.73.9,1.2h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m60.17,121.5c.71-8.58,1.08-17.26.76-25.86-.1-2.61-.27-5.23-.66-7.81-.31-2-.7-4.1-1.7-5.88-1.62-2.89-5.9-3.44-8.83-4.07-5.61-1.21-11.34-1.94-17.06-2.45-6.04-.55-12.17-.89-18.24-.51-2.29.14-4.58.4-6.8.97-1.51.39-3.14.99-4.18,2.2-1.17,1.36-1.66,3.32-2.04,5.03-.55,2.48-.8,5.03-.99,7.56-.74,9.98-.42,20.08.18,30.07.01.21.03.41.04.62.13,1.93,3.12,1.67,2.99-.26-.55-8.26-.77-16.58-.51-24.85.14-4.63.28-10.08,1.69-14.29.12-.37.26-.73.42-1.08.07-.16.15-.31.23-.46.2-.38-.07.07.17-.26.08-.11.16-.2.25-.29.15-.16-.23.16.1-.07.12-.08.24-.17.36-.25.31-.21-.05,0,.24-.13,1.67-.79,3.22-1.02,5.03-1.25,5.36-.67,10.85-.49,16.23-.14,5.84.38,11.68,1.03,17.45,2.03,2.23.39,4.46.82,6.65,1.41.92.24,1.37.37,2.13.66.29.11.57.22.85.35.2.09.79.43.43.21.32.2.6.64.75.98.35.77.59,1.58.79,2.4.48,2,.71,4.45.87,6.64.65,9.18.2,18.49-.5,27.66-.02.2-.03.39-.05.59-.16,1.91,2.79,2.47,2.95.54h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m32.03,76.13v-29.83c0-1.93-2.99-1.66-2.99.26v29.83c0,1.93,2.99,1.66,2.99-.26h0Z"
                      style="fill: rgb(194, 150, 89); stroke-width: 0px;" />
                <path d="m27.64,8.68c-10.83,7.22-6.02,26.47,5.41,18.05,11.43-8.42,5.41-25.27-5.41-18.05Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
                <path d="m27.64,97.11c-10.83,7.22-6.02,26.47,5.41,18.05,11.43-8.42,5.41-25.27-5.41-18.05Z"
                      style="fill: rgb(73, 57, 44); stroke-width: 0px;" />
            </g>
        </symbol>
    </svg>
</footer>

@code {
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Pages/Home.razor.js");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}